defmodule {{#modulized}}{{appName}}{{/modulized}}.Api.{{classname}} do
  @moduledoc """
  Documentation for {{#modulized}}{{appName}}{{/modulized}}.Api.{{classname}}.
  """

  @doc """
  Hello world.

  ## Examples
      iex> {{#modulized}}{{appName}}{{/modulized}}.Api.{{classname}}.hello
      :world

  """
  def hello do
    :world
  end
end
