defmodule {{camelizedAppName}}.Api.{{classname}} do
  @moduledoc """
  Documentation for {{camelizedAppName}}.Api.{{classname}}.
  """

  @doc """
  Hello world.

  ## Examples
      iex> {{camelizedAppName}}.Api.{{classname}}.hello
      :world

  """
  def hello do
    :world
  end
end
